<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.rahul.myselfieapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.kinvey.android.offline.KinveySyncService"
            android:exported="true"
            android:process=":backgroundsync">
            <intent-filter>
                <action android:name="com.kinvey.android.ACTION_OFFLINE_SYNC" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </service>

        <activity android:name=".Activity.MainActivity"></activity>
        <activity android:name=".Activity.BaseActivity" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".Activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.rahul.myselfieapp.Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.CameraActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.GalleryActivity" />

        <service
            android:name=".Service.MyUploadService"
            android:exported="false"/>
        <provider
            android:name=".Storage.generated.MediaProvider"
            android:authorities="com.android.rahul.myselfieapp.storage.MediaProvider"
            android:exported="false" />

    </application>

</manifest>